/* Config inicial */

* {
    margin: 0;
    padding: 0;
}

/* Config de elementos */
:root{
    --azul: #3c5a94;
    --texto: #1d2026;
    --blanco: rgb(255, 255, 255);
    --font: Arial, Helvetica, sans-serif;
}

.h1 {
    color: var(--azul);
    text-align: center;
    font-size: 70 px;
    font-style: italic;
}

/* RECTANGULOS DE INFORMACION Y SEMBLANZA*/
.rectangulo-izquierdo {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color:var(--azul);
    color: var(--azul);
    height: 560px;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

.rectangulo-derecho {
    float: right;              
    margin-right: 20px;
    margin-top: 20px;
    background-color: #B8D0FF;
    color: var(--blanco);
    height: 560px;
    width: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.rectangulo-derecho-2 {
    float: right;              
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 60px;
    background-color:  #B8D0FF;
    color: var(--blanco);
    height: 520px;
    width: 3700px;
    display: flex;
    justify-content: center;
    align-items:start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.rectangulo-izquierdo img{
    height: 30px;
    width: 30px;
}

.rectangulo-banners {
    float: left;              
    background-color: #B8D0FF;
    margin-left: 20px;
    color:#1d2026;
    height: 170px;
    width: 1146px;
    display: flex;
    justify-content: justify;
    align-items: start;
    font-family:monospace;
    padding-left: 20px;
    padding: 40px;
    font-size: 18px;
}

.rectangulo-aptitudes {
    float: left;              
    background-color: #B8D0FF;
    margin-left: 20px;
    color:#1d2026;
    height: 160px;
    width: 548px;
    display: flex;
    justify-content: justify;
    align-items: center;
    font-family:monospace;
    font-size: 18px;
    padding: 30px;

}.rectangulo-habilidades {
    float: right;              
    background-color: #B8D0FF;
    margin-right: 20px;
    color:#1d2026;
    height: 160px;
    width: 548px;
    display: flex;
    justify-content: justify;
    align-items: center;
    font-family:monospace;
    font-size: 18px;
    padding: 30px;
}
/***********************************/



/* TEXTO */

.semblanza{
    margin-left: 20px;
    margin-right: 10px;
    color: var(--texto);
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: ambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5;
}

.semblanza-derecha{
    margin-left: 0px;
    margin-right: 70px;
    margin-top: 35px;
    color: var(--texto);
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5;
}

.inside-banners {
    color:#1d2026;
    display: flex;
    justify-content: justify;
    align-items: start;
    font-family:monospace;
    font-size: 18px;
}
/**********************************/

/* BANNERS */
.banner {
    float: left;              
    margin-left: 20px;
    margin-top: 20px;
    background-color: #3D4C69;
    color: var(--blanco);
    height: 100px;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:fantasy;
    font-size: 40px;
    font-weight:lighter;
    letter-spacing: 0.2cm;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* sombra */
}

.top-banner {
    float: left;              
    background-color: #3D4C69;
    color: var(--blanco);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:initial;
    font-size: 20px;
    font-weight:lighter;
    letter-spacing: 0.2cm;
}
.banner-aptitudes {
    float: left;              
    margin-left: 20px;
    margin-top: 20px;
    background-color: #3D4C69;
    color: var(--blanco);
    height: 100px;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:fantasy;
    font-size: 40px;
    font-weight:lighter;
    letter-spacing: 0.2cm;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* sombra */

}.banner-habilidades{
    float: right;              
    margin-right: 20px;
    margin-top: 20px;
    background-color: #3D4C69;
    color: var(--blanco);
    height: 100px;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:fantasy;
    font-size: 40px;
    font-weight:lighter;
    letter-spacing: 0.2cm;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* sombra */
}
/*****************************/

/* FOTO E INFORMACION PERSONAL */

.nombre {
    color: var(--blanco);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
    line-height: 1.5;
    
}

.datos {
    color: var(--blanco);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    margin-bottom: 30px;
}

.imagen {
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagen img {
    height: 160px;
    width: 110px;
    border-radius: 100%;
}
/***************************/